 
  .header {
    margin-bottom: 30px;
    background-color: #ebebeb;
  }
  
  a{
    color:#ebebeb !important;
  }

.wrapper{
    background-color: #E3E3E3;
}
  
  .imgreg{
    position: flex;
    width: min-content;
    height: 800px;
  }
  
  .btn-primary{
    color: #ebebeb !important;
    background-color: #CC9600 !important;
    border-color: #CC9600 !important;
  }
  .btn-primary:hover{
    background-color: #ba8b0a !important;
    border-color: #ba8b0a !important;
  }

  .btn-block {
    display: block;
    width: 100%;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}
  
  h1{
    color:#f5f5f5;
  }
  
  .createAkk{
    color:#CC9600 !important;
  }
  .akk{
    color:#D6CE80;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  
  
  .zag{
    font-family: Montserrat !important;
    font-size: 25px;
    color:#CC9600;
  }
  
  .zag2{
    font-family: Montserrat !important;
    font-size: 20px;
  }
  
  ol{
    padding-bottom: 30px;
  }
  
  .page {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #E3E3E3;;
  }

  .akk_info{
    display: flex;
    margin-left: 200px;
    margin-top: 110px;
    margin-right: auto;
  }

  .msg_null{
    font-size: 14px !important;
    padding-top: 30px;
  }
