@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&display=swap');

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------------------------------------------*/
body {
    font-family: Montserrat !important;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    width: 100%;
    background-color: #ebebeb;
}

a {
    color: #ebebeb;
}

a:visited {
    color: #ebebeb;
}

h3 {
    font-weight: 700;
    font-size: 20px;
}

h4 {
    font-weight: 700;
    font-size: 18px;
}

.allbooks {
    color: #CC9600;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    min-height: 100%;
    background-color: #ebebeb;
}

.wrapper2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    min-height: 100%;
    background-color: #000;
}

.button {
    font-weight: 500;
}

.header {
    font-family: Montserrat !important;
    margin-bottom: 30px;
    background-color: #ebebeb;
}

.page {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebebeb;
}

.filter {
    box-shadow: 0 0 10px #bbbbbb;
    width: 300px;
    height: 100%;
    padding: 20px 10px;
    background-color: #fff;
}

.filter>form>ul>li {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

.filter>form>ul>li>ul {
    margin-top: 15px;
}

.filter>form>ul>li>ul>li {
    text-align: left;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 400;
}

.filter>form>ul>li>ul>li>label {
    margin-left: 10px;
}

.filterbutton {
    font-size: 16px;
    font-weight: 600;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto 0;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 5px 40px;
    outline: none;
    color: #CC9600;
    border-radius: 24px;
    transition: 0.4s;
    cursor: pointer;
}

.filterbutton:hover {
    color: black;
}

.library {
    box-shadow: 0 0 10px #bbbbbb;
    height: 100%;
    width: 1170px;
    margin-left: 30px;
    padding: 20px 10px;
    background-color: #fff;
    min-height: calc(80vh - 60px);
}

.library>p {
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container-book {
    border: 1px solid #ebebeb;
    margin: 20px;
    display: flex;
}

.bookimage {
    width: min-content;
    border: 1px solid #2d0e2d;
    text-align: center;
    display: block;
    margin: 10px;
}

.bookimage img {
    width: 200px;
}

.information {
    display: block;
    margin: 10px;
}

.information h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.information p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

/*поиск*/
.search {
    width: 80%;
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
}

.searchTerm {
    width: 80%;
    border: 2px solid #4B330B;
    border-right: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.searchButton {
    width: 45px;
    height: 39.2px;
    background: #4B330B;
    text-align: center;
    color: #eeeeee;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
}

.favoritebutton,
.closemodal,
.readbutton {
    background-color: #CC9600;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 8px 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.4s;
    cursor: pointer;
}

.rating-button {
    background-color: #CC9600;
    margin: 20px auto;
    text-align: center;
    padding: 8px 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.4s;
    cursor: pointer;
}

.rating-button:hover,
.rating-button:focus {
    background-color: #624b0a;
}

.autoriz {
    color: #CC9600 !important;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.favoritebutton,
.readbutton {
    position: absolute;
}

.pagestr {
    color: #dbba5e;
}

.pagestr:visited {
    color: #dbba5e;
}

.nobook_cat {
    width: 400px;
    height: 300px;
    padding-top: 50px;
    padding-left: 50px;
}

.card-img-top {
    padding-left: 100px;
}

.card-title {
    font-size: 30px;
    color: #CC9600;
    padding-bottom: 20px;
}

p strong {
    font-weight: bold;
}

p {
    padding-bottom: 12px;
}

.card-body {
    position: absolute;
    left: 500px;
    top: 120px;
    right: 50px;
}

.nav_page {
    color: #CC9600;
    padding-bottom: 50px;
}

.inputpages {
    border-bottom-width: 10px;
    margin-bottom: 10px;
    padding: .5rem 1rem;
    font-size: 15px;
    border-radius: .3rem;
    width: 245px;
}

.inputpagesbtn {
    color: #ffffff;
    background-color: #CC9600;
    border-color: #CC9600;
    padding: .5rem 1rem;
    font-size: 15px;
    border-radius: .3rem;
}

/*Модальное окно с рейтингом*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-success,
.close-error {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: 25px;
}

.box_thanks {
    background-image: url("https://cdn.prod.website-files.com/625698fc770b752c2452169f/666855b1a191eb95df631bb4_juucy-recruiter-lp%20(12).png");
    background-position: center center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.delete-button {
    background-color: unset;
    position: absolute;
    display: block;
    margin: 60px auto;
    text-align: center;
    padding: 15px 20px;
    outline: none;
}

.hidden {
    display: none; /* Скрывает элемент */
}

.visible {
    display: block; /* Показывает элемент */
}

.highlighted {
    background-color: #CC9600; /* Цвет выделения */
}

.highlight {
    background: linear-gradient(180deg, rgba(255,215,0,0.3) 0%, rgba(255,215,0,0.3) 100%);
    cursor: pointer;
    transition: background 0.3s;
}

#quoteModal {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    display: none;
}

.bookmark-ribbon {
    position: absolute;
    right: 0;
    width: 30px;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.bookmark-inactive {
    background-color: #cccccc;
}

.bookmark-active {
    background-color: #ff0000;
}

.timer-container {
    position: fixed;
    top: 100px;
    right: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

#stopTimerButton {

    margin-top: 10px;
    background: #ff4444;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
}